path {
    fill: none;
    stroke: rgba(87,77,75,0.8);
    stroke-width: .5px;
}
 
.cantons {
    fill: #E1D9C6;
    stroke: none;
}

.canton-boundary {
    stroke-width: 0px;
}

.land-boundary {
    stroke-width: 0px;
}
 
.bubble {
    fill: rgba(87,77,75,1);
}

.link {
    stroke: #000;
    stroke-opacity: 0.6;
    z-index: -10;
}
