path {
    fill: none;
    stroke: #888;
    stroke-width: .5px;
}
 
/* Usable, if Countries and Cantons should not be displayed the same.
.cantons {
} 

.countries {
} 
*/

.areaRegion {
   fill: #efefef;
   stroke: none;
}
.canton-boundary {
    stroke-width: 0px;
}

.land-boundary {
    stroke-width: 0px;
}
 
.bubble {
    fill: #667;
}
